/*Mobile first responsive desgin*/
/* Unversal Styling for the navigation bar*/
header {
    padding: 1rem;
    margin: 0;
}

header nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

nav #logo {
    flex-basis: 23.5%;
}

nav .nabvar {
    flex-basis: 74.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.75rem;
}

#search_btn, #menu_btn, #close_btn {
    cursor: pointer;
}

img#search_btn, img#menu_btn, img#close_btn {
    width: 1.5rem;
    height: auto;
    padding: auto 0.75rem;
}

#search_btn:hover, #menu_btn:hover, #close_btn:hover {
    background-color: #948f8f;
}

#search_btn:active, #menu_btn:active, #close_btn:active {
    background-color: #e4e4e4;
}

#close_btn {
    display: none;
}
 
#search_bar {
    display: none;
    flex-basis: calc(100% - 4.0rem);
}

input#search {
    width: 100%;
    font-size: 1rem;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    border-radius: 0.5rem;
}

header #secondary_nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

header #secondary_nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    padding-block-start: 0.25rem;
    margin-block: 0.25rem;
    padding-block-end: 0.25rem;
}

nav .desktop{
    display: none;
}

@media screen and (min-width: 768px) {
 

}
    

