<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | in2it-ng</title>
    <link rel="shortcut icon" href="./resources/images/favicon-plain.png" type="image/x-icon">
    <!--Google fonts-->
    <!--Style reset-->
    <link rel="stylesheet" type="text/css" href="/in2it-ng/resources/css/reset.css">
    <!--user main CSS for the entire site styles-->
    <link rel="stylesheet" type="text/css" href="/in2it-ng/resources/css/main.css">
    <!--Page Styling-->
    <link rel="stylesheet" type="text/css" href="/in2it-ng/resources/css/contact.css">
</head>

<body>
    <header>
        <div class="header-container">
            <nav>
                <div class="icon search">
                    <img src="/in2it-ng/resources/images/search-icon.png" alt="menu-icon">
                </div>
                <div class="logo">
                    <a href="/in2it-ng/index.html">
                        <img src="/in2it-ng/resources/images/in2it_logo.png" alt="logo" class="logo">
                    </a>
                </div>
                <div class="navbar">
                    <div class="nav-search">
                        <label for="page-search">
                            SEARCH:<input type="search" name="page-search" id="page-search">
                        </label>
                    </div>
                    <div class="nav-links">
                        <ul>
                            <li><a href="/in2it-ng/index.html">HOME</a></li>
                            <li><a href="/in2it-ng/components/offers.html">OUR OFFERS</a></li>
                            <li><a href="/in2it-ng/components/about.html">ABOUT US</a></li>
                            <li><a href="/in2it-ng/components/team.html">OUR TEAM</a></li>
                            <li><a href="/in2it-ng/components/contact.html" class="active">CONTACT US</a></li>
                        </ul>
                    </div>
                    <div class="icon menu">
                        <img src="/in2it-ng/resources/images/menu-icon.png" alt="menu-icon">
                    </div>
                </div>
                
            </nav>
        </div>
    </header>
</body>

</html>